@inject IViewLocalizer Localizer

<!doctype html>
@{ 
    ViewData["Title"] = "Index";
}

<html>
<head>
</head>
<body>
    <div>
        <h2 style="color:lightslategray">@Localizer["Title"]</h2>
    </div>
</body>
</html>